
body {
font-family: "garamond-premier-pro-display", Georgia, Times New Roman, serif;
/*background-color:#FCFFF5;*/
color: #193441;
text-rendering:optimizeLegibility;
font-feature-settings: "kern" 1;
font-kerning:normal;
}

p {
  font-weight:normal;
}
/* full image in background */
#homepage {
background: url('../img/blake.jpg') no-repeat center center;
min-height:100%;
position: relative;
background-size: cover;
}


.fullWidth {
  width: 100%;
  max-width: 100%;
  height: 100px;

}

.titleRow{
  background-color: rgba(192,192,192,0.5);
  padding-left: 15px;
}


header{
  padding-top:3em;
  padding-bottom: 4em;
  margin-bottom: 1.5em;
}


h1 {
  color:#333;
/*  font-size: 50px;*/
  font-family: "garamond-premier-pro-display",serif;
  margin-bottom:0;
}

p.tagline {
  font-size:1.5em;
  margin-top:-15px;
}

.top-bar {
  background: #000;

}

.top-bar-section li:not(.has-form) a:not(.button){background: #000;}
.top-bar-section li:not(.has-form) a:not(.button):hover {background: #000;}

.top-bar-section li.active:not(.has-form) a:not(.button) {
  background-color: #000;}
/*the color to use for a hover*/
.top-bar-section li.active:not(.has-form) a:not(.button):hover {
    background-color: #000;
  }

.imgprofile {
  float:left;
  padding-right: 10px;
}

.footer{
  background-color: #000;
  color: rgb(255,255,255);
  width:100%;
  height: 45px;
  text-align: center;
  font-weight:normal;
  font-size:13px;
  margin: 0px;
  margin-bottom: 0px;
  line-height: 45px;
  padding-top: 0px;
}

.footer a{
  color: rgb(255,255,255);
}
TEI {
  margin-left: 16.66667% !important;
  width: 66.66667%;
  margin-right: 4.5em;
  font-family: Garamond;
  font-size: 1.4rem; 
}

tei-title {
  font-family: Garamond !important;
}

.top-bar{
  width:100%;
}

.top-bar a{
  text-decoration: none;
}

teiHeader{
  display: none;
}

html{
  width:100%;
  padding:0;
  margin:0;
  background-color: white;
}


/*dropdown menus*/

/*ul li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  background: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}*/

ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
  z-index: 1000;
}
ul li ul li { 
  background: #555; 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
    z-index: 1000;
}
ul li ul li:hover { background: #666; }
ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
    z-index: 1000;
}