#TEI_left_panel{
  float:left;
  width: 50%;
  border-right: 1px;
  border-right-style:solid;
  border-right-color: #DDDDDD;
  position: fixed;
}

#left-content{
  padding-left: 10%;
  padding-right: 10%
}

#left-content footer{
  width: 80%;
}

#tei_wrapper{
  margin-left: 10%;
  margin-right: 10%;
  width: 30%;
}

top-bar{
  position: fixed;
}
@media screen and (min-width: 1100px){
  note{
    margin: 0;
    padding-top:16px;
    padding-bottom: 16px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 1100px){
  note{
    display: none;
  }
  toggle_note{
    display:block;
  }
}

#TEI_reader{
  margin-left:50%;
  width: 100%;
  padding-left: 40px;
}

.top-bar .toggle-topbar a{
  font-weight: normal;
}

.visible{
  display: block !important;
}

.hidden{
  display: none;
}

#selected_laisse{
  max-width: 40px;
  margin: auto;
/*  display: inline;
*/  text-align: center;

}

.center{
  width: 50%;
  margin: auto;
}

#num_laisses{
float: left;
padding-top: 8px;
}


#special-footer{
  bottom:0;
}

#special-footer hr{
  width:66.7%;
  text-align:center; margin: 0 auto;
}

body{
  font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
  background: rgba(255,255,255,0.9);
  text-rendering:optimizeLegibility;
  font-feature-settings: "kern" 1;
  font-kerning:normal;
  width: 100%;
  max-width: 100%;
  overflow-x:hidden;

}

.large-offset-2 {
  margin-left: 15.66667% !important;
}

.large-8 {
  width: 70.66667%;
}

section div ul li {
  clear: left;
}

#banner{
  padding-top:15px;
  padding-bottom: 15px;
}

header{
  padding-top:3em;
  padding-bottom: 4em;
  margin-bottom: 1.5em;
}

#sub-header{
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

#editorial_staff{
}

/*Top bar*/

.top-bar {
  background: #000;
  width:100%;
  height: 48px;
}

nav{
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: gray;
}

.top-bar-section li:not(.has-form) a:not(.button){background: #000;}
.top-bar-section li:not(.has-form) a:not(.button):hover {background: #000;}
.top-bar-section li.active:not(.has-form) a:not(.button) {
  background-color: #000;}
.top-bar-section li.active:not(.has-form) a:not(.button):hover {
    background-color: #000;}


.top-bar a{
  text-decoration: none;
  font-size: 16px !important;
  color:#cccccc !important;
}

.top-bar-section ul li a{

}

.titleRow{
  background-color: rgba(192,192,192,0.5);
  padding-left: 15px;
}

section ul li a{
    font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif !important;
}

/*Content */

#clear{
  clear:both;
}

p {
  font-weight:normal;
}

.fullWidth {
  width: 100%;
  max-width: 100%;
  height: 100px;

}


.participant_section{
  padding-bottom: 10px;
}

h1, h4, h5 {
  color:#333;
  font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif !important;
  margin-bottom:0;
  text-align: center;
}

p.tagline {
  font-size:1.5em;
  margin-top:-15px;
}

#manuscript_list_index{
  text-align: center;
}
#manuscript_list_editions{
  padding-left: 10%;
  padding-right: 10%
}

.imgprofile {
  float:left;
  padding-right: 25px;
  border-color: rgb(233, 233, 233);
  border-style: solid;
  border-width: 1px;
  max-width: 200px;
}

.participant_profile{
  padding-top: 25px;
}

.footer{
  text-align: center;
  font-weight:normal;
  font-size:16px;
  margin: 0px;
  margin-bottom: 0px;
  padding-bottom: 15px;
  padding-top: 0px;
  position: absolute;
  border-top: none;
  width: 100%;
}

.footer img{
  max-height: 50px;
  margin-right: 15px;
  margin-top: 15px;  
}

#hidden-title{
  font-size: 28px;
  padding-left: 24px;
  padding-top: 24px;
}

.footer a{
  color:#cccccc !important;
}

/* TEI */

TEI {
  

  font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
  font-size: 16px;
padding-bottom: 1px;

}

#top-buttons{
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  text-decoration: none;
}

#bottom-buttons{
  text-align: center;
  display:none;
  padding-bottom: 16px;
  text-decoration: none;
}

#top-buttons a, #bottom-buttons a{
  color: #0078a0;
}

#top-buttons a:hover, #bottom-buttons a:hover{
  text-decoration: none;
}

lg{
  display: none;
  padding-top: 24px;
  margin-top: 0px;
}

tei-title {
  font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
 !important;
}

TEI head{
    font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
}

teiHeader{
  display: none;
}

/* Background image*/

html{
  background-color: rgba(0,0,0,0.4);
  width:100%;
  padding:0;
  margin:0;
  max-width: 100%;
  overflow-x:hidden;
  overflow-x:hidden;
}

.background-image{
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0,0,0,0.4)), color-stop(100%, rgba(0,0,0,0.4))),url("/img/hours_compressed.jpg");
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url("/img/hours_compressed.jpg");
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url("/img/hours_compressed.jpg");
  background-image: -o-linear-gradient(top, rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url("/img/hours_compressed.jpg");
  background-image: linear-gradient(top, rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url("/img/hours_compressed.jpg");
  background-position: top right;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
/*dropdown/side menus*/

ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  right: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
  z-index: 1000;
  border-left: 1px;
  border-bottom: 1px;
  border-top: 1px;
  border-left-style: solid;
  border-bottom-style: solid;
  border-top-style: solid;
  border-color: gray;
  transition:1s;
}
ul li ul li { 
  background: #555; 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
  z-index: 1000;
}
@media screen and (min-width: 850px){
  ul li ul li:hover { background: #666; }
  ul li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
    z-index: 1000;
    transition:1s;
  }
}

#homepage {
  margin:0;
  padding:0;
}

.oe { 
font-family: Mathematica6 Bold, Old English Text MT, Engravers Old English BT, Old English, Collins Old English, New Old English, serif; 
} 

#homepage-body{
  background: rgba(255,255,255,0.9);
}

text body{
  background-color: rgba(255,255,255,0);
}

/*Search bar */

.box{
  width: 215px;
  height: 50px;
}

.container-4{
  overflow: hidden;
  width: 200px;
  vertical-align: middle;
  white-space: nowrap;
}

.container-4 input#search{
  width: 200px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #fff;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.container-4 input#search::-webkit-input-placeholder {
   color: #65737e;
}
 
.container-4 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.container-4 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.container-4 input#search:-ms-input-placeholder {  
   color: #65737e;  
}

.container-4 button.icon{
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
 
  border: none;
  background: #232833;
  height: 50px;
  width: 50px;
  color: #4f5b66;
  opacity: 0;
  font-size: 10pt;
 
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}
/*

  /*Versioning Machine*/



#line_toggle, label{
  float:left;
  text-decoration: underline;
  font-size: 16px;
  color: black;
}

input[type="button"]{
  border-style: none;
  text-decoration: underline;
  background-color: rgba(0, 0, 0, 0);
}

input[type="checkbox"]{
  display:none;
}

#add_witness{
  display: inline;
  border-style:none;
  float:left;
  text-decoration: underline;
  padding-bottom: 20px;
  padding-right: 20px;
}

.panelBanner, .witnessMenu{
font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif !important;
  background-color: rgba(0, 0, 0, 0);
  height: 30px;
  margin-bottom: 0;
  padding:0;
  border:none;
  font-size: 16px;
  text-align:left;
}

table{
  border:none;
}

table, tr, th{
  padding:none;
}

#tei-hr-1, #tei-hr-2{
  width:40%;
  text-align:center; margin: 0 auto;
}

#tei-hr-1{
  display:none;
}

#comparison-hr{
  width:66.7%;
  text-align:center; margin: 0 auto;
}

.witnessMenu{
  width: 69%;
}

td{
  padding-left:0;
  padding-right: 0;
  display: hidden; 
}

#bibPanel{
  display: none;
}
